 body {
     width: 70%;
     margin: 0 auto;
     color: #8c8c8c
 }
 
 #container {
     display: flex;
     flex-flow: row;
     padding: 1%;
 }
 
 .div {
     margin: 1%;
 }
 
 #div1 {
     border-right: 1px solid #e5e5e5;
     flex: 1;
     padding: 2%
 }
 
 #div2 {
     width: 60%    
     flex: 3;
 }

#div2 article {
    background-color: #f9f9f9;
    margin-bottom: 3%;
    padding: 2%
}

#div2 h2 {line-height: 1;}